{
    "trailingComma": "none",
    "trailingCommaLineBreak": "none",
    "endOfLine": "lf",
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "quoteProps": "as-needed",
    "arrowParens": "avoid",
    "printWidth": 120,
    "proseWrap": "preserve",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "parser": "babel"
  }